.categories-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
}

.categories-card-name-admin {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}
